* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Roboto;
  background: url(images/sky\ real.jpg) center;
}

#weather-search {
  height: 40px;
  width: 240px;
  border-radius: 4%;
  border: 1px solid black;
  font-weight: bold;
  font-size: 1.2em;
  padding: 10px;
  border-right: none;
}

.search-weather-btn {
  font-weight: bold;
  font-size: 2em;
  border: 1px solid black;
  height: 40px;
  width: 150px;
  background-color: rgb(99, 173, 225);
  color: white;
  border-radius: 4%;
  border-left: none;
}

.search-weather-btn:hover {
  cursor: pointer;
  filter: brightness(75%);
}

.weather-form {
  height: 100%;
  width: 100%;
}

.card {
  height: 65vh;
  width: 40vw;
  background-color: hsla(191, 37%, 89%, 0.3);
  margin-top: 25px;
  border-radius: 4%;
  border: 1px solid black;
  box-shadow: 5px 5px 5px rgba(131, 131, 131, 0.4);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.error-title {
  margin: 0;
  margin-bottom: 0.5rem;
  text-align: center;
}

.errors-list {
  margin: 0;
  padding-left: 15px;
  padding-bottom: 15px;
}

.error {
  background-color: hsl(0, 100%, 80%);
  border-radius: 0.5rem;
  padding: 10px;
  color: hsl(0, 50%, 20%);
  margin-top: 35px;
  width: 50%;
  height: 50%;
}

.data {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 80%;
}

.header {
  margin-top: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

h1 {
  color: hsla(0, 0%, 0%, 0.8);
  font-size: 2.5rem;
  border-bottom: 2px solid black;
  width: 65%;
  text-align: center;
  padding-bottom: 7px;
}

p {
  color: hsla(0, 0%, 0%, 0.75);
  font-size: 1.7rem;
}

.temp-display {
  font-size: 3.5rem;
  margin: 5px;
}

.desc-display {
  font-style: italic;
  font-weight: bold;
}
