* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Roboto;
  background: url(images/sky\ real.jpg) center;
}

.container {
  width: 70vw;
  height: 80vh;
  margin: auto;
  margin-top: 70px;
  border: 2px solid black;
  background-color: rgb(242, 235, 235);
}

#weather-search {
  height: 40px;
  width: 240px;
  border-radius: 4%;
  border: 1px solid black;
  font-weight: bold;
  font-size: 1.2em;
  padding: 10px;
  border-right: none;
}

.search-weather-btn {
  font-weight: bold;
  font-size: 2em;
  border: 1px solid black;
  height: 40px;
  width: 150px;
  background-color: rgb(99, 173, 225);
  color: white;
  border-radius: 4%;
  border-left: none;
}

.search-weather-btn:hover {
  cursor: pointer;
  filter: brightness(75%);
}

.weather-form {
  height: 100%;
  width: 100%;
}

.card {
  height: 400px;
  width: 350px;
  background: url(images/sky\ real.jpg) center;
  margin-top: 25px;
  border-radius: 4%;
  border: 1px solid black;
}

.error-title {
  margin: 0;
  margin-bottom: 0.5rem;
  text-align: center;
}

.errors-list {
  margin: 0;
  padding-left: 15px;
}

.error {
  background-color: hsl(0, 100%, 80%);
  border-radius: 0.5rem;
  padding: 10px;
  color: hsl(0, 50%, 20%);
  margin-bottom: 1rem;
  width: 50%;
  height: 50%;
}

.data {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 80%;
}

.header {
  margin-top: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}
